.footer {
  background: var(--color-background-light);
  padding: 30px 0;
  &__inner {
    display: flex;
    align-items: center;
    @media (max-width: 1200px) {
      flex-direction: column;
    }
  }
}

.logo {
  width: 80px;
  margin-right: 16px;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 48px;
  margin-right: auto;
  @media (max-width: 1200px) {
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 50px;
    gap: 20px;
  }
  &__item {
  }
  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    transition: 0.3s;
    &:hover {
      color: var(--color-text-secondary);
    }
  }
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  @media (max-width: 1200px) {
    flex-direction: column;
    gap: 20px;
  }
  &__item {
    gap: 8px;
    display: flex;
    align-items: center;
    color: var(--color-text-muted);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }
}
